.product-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one-item {
    width: 40%;
    height: 50%;
    border: 1px solid black;
    position: relative;
}

.item-img {
    width: 40%;
    height: 60%;
    border: 1px solid blue;
    position: relative;
    top: 70px;
    left: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}