.dashboard_container {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/background3.jpg');
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.video {
    position: absolute;
    z-index: 0;
}

.nav {
    width: 20%;
    height: 85%;
    position: absolute;
    z-index: 1;
    top: 117px;
    transition: 1s;
}