.card {
    width: 300px;
    height: 250px;
    perspective: 1000px;
    margin-top: 8px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.item,
.back-side {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    background-color: #121315;
    position: absolute;
    backface-visibility: hidden;
    /* Ẩn mặt sau khi xoay */
}

.back-side::-webkit-scrollbar {
    width: 0;
    height: 0;
    margin-left: 10px;
}

.back-side {
    background-color: #121315;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.back-side>div {
    width: 100%;
    height: 50%;
    max-height: 50%;
    overflow-x: hidden;
    border: 1px solid #ADFF2F;
}

.back-side>div>p {
    color: white;
    cursor: pointer;
}

/* Chỉ xoay .card-inner khi hover */
.card:hover .card-inner {
    transform: rotateY(180deg);
    /* Xoay mặt trước ra sau */
}

/* Thêm một số hiệu ứng hover cho item */
.item:hover {
    border-right: 3px solid #ADFF2F;
}

.item>p {
    color: white;
    position: absolute;
    font-family: "Kanit", serif;
}

.name {
    left: 10px;
    top: 140px;
}

.price {
    top: -10px;
    left: 10px;
}

.producer {
    left: 10px;
    top: 185px;
    cursor: pointer;
}

.producer:hover {
    color: #EF476F;
}


.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}




.button-58 {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 45px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 100px;
  outline: 0;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}